@model ParkDetail
@{
    ViewData["Title"] = "Detail";
}
<div class="park-content">
    <img class="detail-img" src="~/images/@(Model.Park.ParkCode).jpg" />
    <h1 class="park-name-detail">@Model.Park.ParkName</h1>
    <div class="park-info">
        <p>State: @Model.Park.State</p>
        <p>Size: @Model.Park.Acreage acres</p>
        <p>Elevation: @Model.Park.ElevationInFt ft.</p>
        <p>Trail Length: @Model.Park.MilesOfTrail mi.</p>
        <p>Campsites: @Model.Park.NumberOfCampsites</p>
        <p>Climate: @Model.Park.Climate</p>
        <p>Year Founded: @Model.Park.YearFounded</p>
        <p>Annual Visits: @Model.Park.AnnualVisitorCount</p>
        <h3 class="text-right"><em>@Model.Park.Quote</em></h3>
        <h4 class="text-right">- @Model.Park.QuoteSource</h4>
        <br /><br />
        <p>@Model.Park.Description</p>
        <p>Entry Fee: $@Model.Park.EntryFee</p>
        <p>Number of species: @Model.Park.NumberOfAnimalSpecies</p>
    </div>
    
    <div class="park-forecast">
        <div class="todays-forcast">
            <form asp-controller="Home" asp-action="ChangeUnit">
                <input type="radio" value="F" name="unit" id="unit" /> F
                <input type="radio" value="C" name="unit" id="unit" /> C
                <input type="hidden" value="@Model.Park.ParkCode" id="id" name="id" />
                <input type="submit" value="Select Unit" />
            </form>
            <h4>Today</h4>
            <img src="~/images/@(Model.FiveDayForecast[0].Forecast).png" />
            <div>
                <p class="text-center">High @Model.FiveDayForecast[0].HighDisplay   Low @Model.FiveDayForecast[0].LowDisplay</p>

                @if (Model.FiveDayForecast[0].Forecast == "snow")
                {
                    <p class="alert alert-info">Pack some snowshoes!</p>
                }
                else if (Model.FiveDayForecast[0].Forecast == "rain")
                {
                    <p class="alert alert-info">Pack some rain gear and wear waterproof shoes!</p>
                }
                else if (Model.FiveDayForecast[0].Forecast == "thunderstorms")
                {
                    <p class="alert alert-danger">Seek shelter and avoid hiking on exposed ridges!</p>
                }
                else if (Model.FiveDayForecast[0].Forecast == "sunny")
                {
                    <p class="alert alert-warning">Pack sunblock!</p>
                }

                @if (Model.FiveDayForecast[0].High > 75)
                {
                    <p class="alert alert-danger">Bring an extra gallon of water!</p>
                }
                else if (Model.FiveDayForecast[0].Low < 20)
                {
                    <p class="alert alert-info">Beware of exposure to frigid temperatures!</p>
                }

                @if (Model.FiveDayForecast[0].High - Model.FiveDayForecast[0].Low > 20)
                {
                    <p class="alert alert-info">Wear breathable layers!</p>
                }
            </div>
        </div>
        <div class="five-day-forecast">
            @for (int i = 1; i < Model.FiveDayForecast.Count; i++)
            {
                <div class="text-center">
                    <img src="~/images/@(Model.FiveDayForecast[i].Forecast).png" />
                    <p>High @Model.FiveDayForecast[i].HighDisplay</p>
                    <p>Low @Model.FiveDayForecast[i].LowDisplay</p>
                </div>
            }
        </div>
    </div>
</div>

